body {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;

	width: 600px;
	margin: auto;
}

h2 {
	color: white;
	background-color: green;

	padding: 0 6px;

	/*border-radius: 6px;*/
}

img {
	width: 200px;
	margin: 12px 0;
	float: left;
}

.info {
	float: right;
	margin: 12px 0 12px 12px;
	width: 364px;
}

.working {
	float: left;
	width: 320px;
}

.connect {
	float: right;
	width: 220px;
}

.linear {
	height: 176px;
	padding: 12px;
	background: url(bg-line-repeat.png) repeat 0 0;
}

footer {
	clear: both;
}