body {
	/*font-family: Arial, sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;

	width: 600px;
	margin: auto;

	color: green;
}

h2 {
	color: white;
	background-color: green;

	padding: 0 6px;

	/*border-radius: 6px;*/
}

img {
	width: 200px;
}

.plate {
	width: 288px;
	padding-left: 6px;
	padding-right: 6px;
	background-color: lightgrey;
}